@{
    ViewBag.Title = "Contact";
}
<h2>CBHD: TS Vũ Việt Thắng</h2>
<h3>Sinh viên: Phạm Quốc Cường</h3>

<address>
    <p></p>
    <p>   </p>
    <p> Mã sv: 2018601159</p>
    <p>  Lớp: Khoa học máy tính 1 - Khóa 13</p>
    <p>    Email: pqc2507@gmail.com</p>
    <p>   Số điện thoại: 0963361483</p>
   
   
  
    
</address>

<address>
       <a href="https://www.facebook.com/cuong.p.quoc.257/">facebook</a><br />
     <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>